<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kyleclegg.cowtipping"
    android:versionCode="3"
    android:versionName="3.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >

        <!-- Home Screen Activity (Contains LAUNCHER) -->
        <activity
            android:name=".SplashActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Menu Activity -->
        <activity
            android:name=".HomeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.kyleclegg.cowtipping.SPLASH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- About Activity -->
        <activity
            android:name=".AboutActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.kyleclegg.cowtipping.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- High Scores Activity -->
        <activity
            android:name=".HighScores"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.kyleclegg.cowtipping.HIGHSCORES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Play Activity -->
        <activity
            android:name=".PlayActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>

        <!-- Objectives Activity -->
        <activity
            android:name=".ObjectivesActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>

        <!-- FOR ADMODS ADS -->
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>

</manifest>